#mat {
   /* width: 100%;*/
    overflow: hidden;
    width: 900px;
    height: 402px;
    margin: 0 auto;
    /*position: relative;*/
    background-color: #999;
    text-align: center;
}

#btmCanvas {
    border: 1px solid #000;
    display: inline;
    /*position: absolute;
    top: 0px;
    left: 0px;*/
    float: left;
    background-color: white;
}

#topCanvas {
    border: 1px solid #000;
    display: inline;
    /*position: absolute;
    top: 0px;
    left: 0px;*/
    float: left;
    background-color: white;
}

#buttonwrapper {
    /*display: inline;*/
   /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    float: left;
    border: 1px solid #000;
    background-color: aquamarine;
    width: 50px;
    height: 400px;
}

#resetButton {
    border: 1px solid #000;
    /*width: 100%;*/
   /* display: inline;*/
    background-color: lightblue;
    text-align: center;
}
